#pbj {
    width: 160px;
    border: 5px solid black;
    background-color: rgb(231, 154, 78);
    color: rgb(121, 0, 121);
}
#grilledcheese {
    width: 160px;
    border: 5px solid black;
    background-color: rgb(255, 172, 19);
    color: rgb(168, 76, 0);
}
#roastbeef {
    width: 160px;
    border: 5px solid black;
    background-color: rgb(82, 19, 0);
    color: rgb(252, 163, 157);
}